# Virtual Environment
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Large Datasets & Archives
data/
data_raw/
*.zip
*.tar.gz

# OS & IDE Files
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
